/* Reset default styles */
body,
figure,
h1,
h2,
h3,
p,
ul,
li {
  margin: 0;
  padding: 0;
}
header {
  padding-top: 10vh;
  padding-bottom: 3vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: rgb(0, 0, 0);
}

header h2 {
  font-size: 48px;
}

body {
  font-family: Arial, "Open Sans";
  line-height: 1.6;
}
section {
  margin-left: 180px;
  margin-right: 180px;
  padding: 0px 0;
  flex-direction: column;
  align-items: center;
  text-align: justify;
  color: #000;
}
section h2 {
  font-size: x-large;
  color: #333;
  text-align: center;
}

.endBar {
  display: flex;
  justify-content: space-between;
  max-width: 500px;
  margin: 0 auto;
  padding: 10px;
}
.top-menu {
  background-color: #222;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 999;
}

.top-menu ul {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 60px;
}

.top-menu li {
  list-style: none;
  margin-right: 20px;
}

.top-menu a {
  color: #fff;
  text-decoration: none;
  padding: 10px;
}

.top-menu a:hover {
  color: #ff9800;
}
/* Footer */
footer {
  background-color: #333;
  color: #fff;
  padding: 10px 0;
  text-align: center;
}
/* Responsive Styles */
@media screen and (max-width: 768px) {
  .top-menu ul {
    flex-direction: column;
    height: auto;
  }

  .top-menu li {
    margin-right: 0;
    margin-bottom: 10px;
  }

  header h1 {
    font-size: 36px;
  }

  .container {
    padding: 20px;
  }
}
